.category {
  margin-top: 1.8rem;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.3rem;
}
h3 {
  font-size: 1.7rem;
}
.price {
  color: $color-text;
  font-weight: 600;
  font-size: 2rem;
}

.product-order {
  h2 {
    color: $color-text;
    font-size: 2.5rem;
  }

  p {
    color: $color-rose-500;
    font-size: 1.3rem;
    font-weight: 800;
  }
}

.carbon-span {
  color: green;
  font-size: 2rem;
}
