.category {
  margin-top: 1.8rem;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.3rem;
}
h3 {
  font-size: 1.7rem;
}
.price {
  color: $color-text;
  font-weight: 600;
  font-size: 2rem;
}
