.category {
  margin-top: 1.8rem;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.3rem;
}
h3 {
  font-size: 1.7rem;
}
.price {
  color: $color-text;
  font-weight: 600;
  font-size: 2rem;
}

.product-order {
  h2 {
    color: $color-text;
    font-size: 2.5rem;
  }

  p {
    color: $color-rose-500;
    font-size: 1.3rem;
    font-weight: 800;
  }
}
.cart-order {
  font-size: 1.3rem;
}

.item-times {
  color: $color-text;
  margin-right: 0.4rem;
  font-weight: 700;
}

.item-details {
  color: $color-rose-300;
}

.item-details-price {
  color: $color-rose-400;
  font-weight: 900;
  margin-left: 0.6rem;
}

.total-price-details {
  .show-order {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .show-price {
    font-weight: 600;
    font-size: 1.8rem;
  }
}
.carbon {
  font-size: 1.1rem;
  div {
    margin-left: 0.8rem;
    margin-top: 0.4rem;
  }
}

.carbon-span {
  font-weight: 800;
}

.confirm-text {
  color: $color-primary-bg;
  font-weight: 500;
}

.receipt {
  h2 {
    font-size: 3rem;
  }
  .receipt-p {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
}
.order-list {
  .product-name {
    color: $color-rose-900;
    font-size: 1.3rem;
    font-weight: 700;
  }

  .product-price {
    color: $color-rose-900;
    font-size: 1.7rem;
    font-weight: 800;
  }
}

.order-details {
  font-size: 1.2rem;
  color: $color-rose-300;
  span {
    color: $color-text;
    margin-right: 1rem;
    font-weight: 700;
  }
}

.receipt-total-price {
  .receipt-total-order {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .receipt-total-amount {
    font-size: 1.9rem;
    font-weight: 900;
  }
}
